<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>cafe</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>LoginServlet</servlet-name>
	  <servlet-class>Login.Web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>LoginServlet</servlet-name>
	  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
   <servlet>
	  <servlet-name>SignupServlet</servlet-name>
	  <servlet-class>Signup.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>SignupServlet</servlet-name>
	  <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
	  <servlet-name>CustomerOrderItem</servlet-name>
	  <servlet-class>Order.Customer.CustomerOrder</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
	  <servlet-name>CustomerOrderItem</servlet-name>
	  
	  <url-pattern>/CustomerOrderItem</url-pattern>
	  
  </servlet-mapping>
  
  
      <servlet>
	  <servlet-name>menuChange</servlet-name>
	  <servlet-class>Order.Waiter.waiterOrder</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
	  <servlet-name>menuChange</servlet-name>
	  
	  <url-pattern>/menuChange</url-pattern>
	  
  </servlet-mapping>
  
</web-app>